.footer {
    margin: 10px 50px 10px 50px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 40%;
    /* height: 150px; */
    float: left;
}

.buttonSelect {
    margin-left: 200px;
}