background {
    background: #4424D6;
}

.footer {
    margin: 10px 50px 10px 50px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    float:left;
    width: 40%;
    height: 150px;
}

.databorder {
    border: 3px solid #29157E;
    border-radius: 4px;
    width: 100%;
    margin-top: 30px;
    background: #E5E0FA;
    
}
.databorderPlaylist {
    border: 3px solid #29157E;
    border-radius: 4px;
    width: 40%;
    height: 300px;
    margin-top: 50px;
    background: #E5E0FA;
}
.form {
    float: right;
}
.datatext {
    text-align: center;
    float: center;
    display: solid;
    color: #C8BEF4;

}
.datatext2 {
    text-align: center;
    float: center;
    display: solid;
    color: #110934;
}
.datatext3 {
    text-align: center;
    float: left;
    display: solid;
    color: #110934;
}

.datalogo {
    padding: 10px 10px 10px 10px;
    width: 130px;
    height: 130px;
    float: left;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    justify-content: space-between;
}

button {
    opacity: 0.8;
    border-radius: 2px;
    display: inline-block;
    /* background-color: #4424D6; */
    /* color: white; */
    display: solid;
    margin-bottom: 10px;
    margin-right: auto;
    width: 200px;
    height: 30px;
  }

  .btn {
    opacity: 0.8;
    border-radius: 2px;
    display: inline-block;
    background-color: #4424D6;
    color: white;
    display: solid;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 30px;
  }
  .btn2 {
    float: right;
  }